@import url('https://www.w3schools.com/w3css/4/w3.css');
@import '~react-json-schema-form/index.css';
.none {
  display: none;
}

.show {
  display: block;
}

.pointer {
  cursor: pointer;
}

.w3-theme {
  color: #fff;
  background-color: #ffc107;
}

.w3-responsive {
  width: 100% !important;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.slide-indicator {
  color: #fff !important;
  background-color: #000 !important;
}

.w3-wide {
  letter-spacing: 10px;
}
i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.caret-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
